{% extends 'base.html.twig' %} 
    {% block title %}
        {{ product.name }}
    {% endblock %} 
    {% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="my-3 d-flex justify-content-start align-items-center">
                    <a href="{{ path('order_store', {'productId': product.id}) }}" class="btn btn-sm btn-outline-custom mx-l">
                        Order now
                    </a> 
                </div>
                <div class="row">
                    {% if product %} 
                    <div class="col-md-12">
                        <div class="card" style="width: 100%; height: 100%;">
                            {% if product.image %}
                            <img src="{{ photo_url ~ product.image }}" alt="{{ product.name }}" class="card-img-top"> 
                            {% else %} 
                            <img src="{{ absolute_url('uploads/flowers.jpg') }}" alt="{{ product.name }}" class="card-img-top"> 
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <h5><span class="text text-danger">{{ product.price }} MAD</span></h5>
                                <h5><span class="text text-success">{{ product.category.name }}</span></h5>
                            </div>
                        </div>
                    </div>  
                    {% else %}
                    <div class="alert alert-info">
                        No product found !
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <style>
        .btn-outline-custom {
            color: #20B2AA;
            /* Couleur du texte */
            border-color: #20B2AA;
            /* Couleur de la bordure */
        }
        
        .btn-outline-custom:hover {
            color: #fff;
            /* Couleur du texte au survol */
            background-color: #20B2AA;
            /* Couleur de fond au survol */
            border-color: #20B2AA;
            /* Couleur de la bordure au survol */
        }
        
        .btn-custom {
            color: #fff;
            /* Couleur du texte au survol */
            background-color: #20B2AA;
            /* Couleur de fond au survol */
            border-color: #20B2AA;
            /* Couleur de la bordure au survol */
        }
        
        .btn-custom:hover {
            color: #20B2AA;
            /* Couleur du texte */
            border-color: #20B2AA;
            /* Couleur de la bordure */
        }
    </style>
    
    {% endblock %}
    